@charset "UTF-8";

@media screen and (max-width: 480px) {
    #header {
        height: 300px;
        box-shadow: inset 1px 1px 4em black;
        background-image: url(./images/archivist.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
}
